*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

center h2{
    color: white;
    font-family: 'lucida handwriting';
    font-size: 20px;
    font-weight: 400;
}

i{
    color: rgb(161, 137, 117);
}
.icons{
    border-bottom: 0.1px rgba(0,0,0,.2) solid;
    height: 25px;
    display: flex;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    gap:550px;
    align-items: center;
    justify-content: center;
}
.logo-nav-bar{
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    gap: 300px;
    align-items: center;
    justify-content: center;
}
.logo-full{
    display: flex;
    margin: 20px 20px;
    align-items: center;
}
.logo-img{
    width:60px;
    object-fit: cover;
}
.logo-word{
    font-weight: bold;
    color: rgba(116, 82, 56);
    font-size: 27px;
    font-family: gabriola;
    padding: 10px, 0;
}
nav ul{
    float:right;
    margin-right: 20px;

}
nav ul li{
    font-family: 'Times New Roman', Times, serif;
    display: inline-flex;
    line-height: 80px;
    margin: 0 5px;
    color: rgb(105, 105, 105)
}
.main-pic{
    height:420px;
    width:100%;
    background-image: url(images/2imagecafe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
    margin-bottom: 50px;
}
.title{
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.box-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    position: absolute;
    left: 32%;
    top: 30%;
    text-align: center;
    color: #fff;
    font-family: "lucida handwriting";
}

.sub-head{
    margin: 20px 0;
}

.plus{
    font-size: 25px;
    margin-bottom: 20px;
}

.box{
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 30px;
    border: 1px solid #ffffffb3;
    border-radius: 3px;
    transition: all .6s ease;
    cursor: pointer;
}

.box-center div:nth-child(2){
    margin: 0 20px;
}

.box:hover{
    background-color: #fff;
    color: #000;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: #000;
}

.left-side{
    width: 20%;
}

.right-side{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.right-side .card{
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    
}

.right-side .card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.right-side .card h3{
    color: #a18975;
    margin: 7px 0;
}

.input-btn{
    /* display: flex; */
    position: relative;
}

.input-btn button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 20px;
    background-color: #846a55;
    border: none;
    border-radius: 5px;
    color: #fff ;
    /* display: none; */
}

.input-btn input{
    width: 100%;
    height: 37px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
}


/* Left side */ 
.left-side-items{
    display: flex;
    flex-direction: column;
}
.left-side-items-delivery{
    font-family: calibri;
    display: flex;
    flex-direction: column;
}
.left-objects-and-pics{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
.words{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tiny-images{
    display:flex;
    flex-direction: column;
    gap: 18px;
}
.left-side-items-delivery img{
    width:30px;
    height: 30px;
    object-fit: cover;
}
.left-side-items-delivery h3{
    font-size: 14px;
    color:#846a55;
}
.delivery{
    font-size: 18px;
    font-family: calibri light;
    margin: 40px 15px 5px 0px;
    font-weight: 250;
}
.left-side-items-top-rated{
    font-family: calibri;
    display: flex;
    flex-direction: column;
}
.left-side-items-top-rated img{
    width:30px;
    height: 30px;
    object-fit: cover;
}
.left-side-items-top-rated h3{
    font-size: 14px;
    color:#846a55;
}
.top-rated{
    font-size: 18px;
    font-family: calibri light;
    margin: 40px 15px 5px 0px;
    font-weight: 250;
}
/* End of left side */

/* Closing */
.closing{
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    font-family: calibri;
    display: flex;
    align-items: center;
    color: #000;
    position: relative;
    left:10%;
    flex-direction: column;
    
}
.closing p{
    width: 500px;
    font-weight: 490;
    text-align: center;
}
.closing .location-phone{
    display: flex;
    gap: 3px;
    text-align: center;
    padding: 10px 0 45px 0;
}
/* End of closing */
.footer{
    width: 80%;
    margin-bottom: 20px;
    font-family: calibri;
    display: flex;
    align-items: center;
    display: flex;
    gap: 700px;
    justify-content: center;
    position: relative;
    left: 10%;
}
.copyright{
    color:rgb(105, 105, 105);
}
.footer-icons{
    color:#000;
}
.left-side div:nth-child(5){
    font-family: calibri;
}
.about-us{
    font-family: calibri;
    color: #000;
    font-weight:  300;
    margin-top: 50px;
}
.about-us h2{
    font-weight: 300;
}
.table-reservation{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    margin: 50px 0px;
    border-radius: 5px;
    font-family: calibri;
    font-weight: 350
}
.table-reservation h3{
    font-weight: 353;
    border-bottom: .5px solid rgba(0, 0, 0, .2);
    padding-bottom: 8px;
}
.table-reservation div:nth-child(1){
    display: flex;
    flex-direction: row;
}
.reservation-button{
    padding: 11px 20px;
    background-color: #846a55;
    border: none;
    border-radius: 7px;
    color: #fff ;
}
input{
    border: 1px solid rgba(0, 0, 0, .2);
    height: 30px;
    background-color: rgb(236, 234, 234);
}
select{
    border: 1px solid rgba(0, 0, 0, .2);
    height: 30px;
    background-color: rgb(236, 234, 234);
}
.input-boxes{
    display:flex;
    flex-direction: column;
    gap:4px;
}
.under-row{
    height: 100px;
    display: flex;
    gap: 840px;
    width:80%;
    justify-content: center;
    padding-top: 70px;
    position: relative;
    left:10%;
}
.under-row span{
    color: rgb(105, 105, 105);
    margin-left: 10px;
}
.under-row i{
    color: rgba(0, 0, 0, .7);
}
